C:\Users\monik\Documents\Development\Projects\algorithms\build
C:\Users\monik\Documents\Development\Projects\algorithms\out
C:\Users\monik\Documents\Development\Projects\algorithms\.idea
C:\Users\monik\Documents\Development\Projects\algorithms\.gradle
C:\Users\monik\Documents\Development\Projects\algorithms\bin
C:\Users\monik\Documents\Development\Projects\algorithms\gradle
/bin/
